<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>RWT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="ServiceName">
    <meta name="msapplication-TileColor" content="#00a1cf">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <link rel="stylesheet" href="./css/w3.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>

    <div class="bg w3-display-container w3-animate-opacity w3-text-white" style="background:url('./img/backgrounds.png') no-repeat fixed 0 0 / cover;">

        <div class="w3-center w3-display-middle">

            <div id="Loginpage" class="w3-center">
                <h2 class="w3-center">프로필 설정</h2>
                <img src="https://via.placeholder.com/150x150" id="profile_img" height="150px" width="150" style="border-radius:10000px;">
                <br>
                <label id="myimg" class="uploadFile">파일 선택
                    <span>
                        <input type="file" name="user_img" />
                    </span>
                </label>
                <br>
                <input class="kek" type="text" placeholder="닉네임" id="user_name" name="user_name">
                <br>
                <button class="w3-button w3-border w3-border-white" style="width:250px" id="set_profile">프로필 설정</button>
                <br>
                <br>
                <a href="/login_regi" class="w3-button w3-border w3-border-white" style="width:250px" id="register">처음으로</a>

            </div>

        </div>
    </div>

</body>

</html>